/.gradle/
/.idea/
/local.properties
/.gradle/8.2/executionHistory/executionHistory.bin
/.gradle/8.2/executionHistory/executionHistory.lock
/.gradle/8.2/fileHashes/fileHashes.bin
/.gradle/8.2/fileHashes/fileHashes.lock
/.gradle/8.2/fileHashes/resourceHashesCache.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/file-system.probe
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
/domain/build/intermediates/aar_metadata/debug/aar-metadata.properties
/domain/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/domain/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/domain/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/app/production/release/app-production-release.apk
/domain/build/intermediates/compile_library_classes_jar/debug/classes.jar
/domain/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/domain/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/domain/build/.transforms/9abde42792de41f55a2d85e6ad1b4fa3/transformed/debug/desugar_graph.bin
/domain/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/domain/build/outputs/logs/manifest-merger-debug-report.txt
/domain/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/domain/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/domain/build/intermediates/incremental/mergeDebugShaders/merger.xml
/domain/build/intermediates/incremental/packageDebugAssets/merger.xml
/domain/build/intermediates/navigation_json/debug/navigation.json
/app/production/release/output-metadata.json
/domain/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/domain/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/domain/build/intermediates/compile_r_class_jar/debug/R.jar
/domain/build/intermediates/compile_symbol_list/debug/R.txt
/domain/build/intermediates/local_only_symbol_list/debug/R-def.txt
/domain/build/.transforms/9abde42792de41f55a2d85e6ad1b4fa3/results.bin
/domain/build/.transforms/3083e203f4b9c90090a2afedf19b8651/results.bin
/domain/build/.transforms/852207b1333a7923ed073a7d691bbd98/results.bin
/domain/build/.transforms/1993698355962d51e0c588e6cf4d900f/results.bin
/domain/build/.transforms/dc049f7244b2f93b7f28f66b2fb0019a/results.bin